{
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"printWidth": 120,
	"endOfLine": "auto",
	"editor.insertSpaces": true,
	"editor.detectIndentation": false,
	"filepath": "index.ts"
}
